## Settings file was created by plugin Plant Grow Time v1.2.3
## Plugin GUID: com.github.jcdock.PlantGrowTime

[General]

## Set growtime in seconds for Turnips
# Setting type: Single
# Default value: 600
Turnip GrowTime = 600

## Set growtime in seconds for Seed Turnips
# Setting type: Single
# Default value: 600
Seed TurnipGrowtime = 600

## Set growtime in seconds for Carrots
# Setting type: Single
# Default value: 600
Carrot GrowTime = 600

## Set growtime in seconds for Seed Carrots
# Setting type: Single
# Default value: 600
Seed CarrotGrowtime = 600

## Set growtime in seconds for Flax
# Setting type: Single
# Default value: 600
Flax GrowTime = 600

## Set growtime in seconds for Barley
# Setting type: Single
# Default value: 600
Barley GrowTime = 600

## Set growtime in seconds for Fir
# Setting type: Single
# Default value: 1200
Fir GrowTime = 1200

## Set growtime in seconds for Pine
# Setting type: Single
# Default value: 1200
Pine GrowTime = 1200

## Set growtime in seconds for Beech
# Setting type: Single
# Default value: 1200
Beech GrowTime = 1200

## Set growtime in seconds for all else
# Setting type: Single
# Default value: 600
Other GrowTime = 600

## Set amount of seed each Seed Turnip plant drops
# Setting type: Int32
# Default value: 3
Seed Turnip Drop = 3

## Set amount of seed each Turnip plant drops
# Setting type: Int32
# Default value: 2
Turnip Drop = 2

## Set amount of seed each Seed Carrot plant drops
# Setting type: Int32
# Default value: 3
Seed Carrot Drop = 3

## Set amount of seed each Carrot plant drops
# Setting type: Int32
# Default value: 2
Carrot Drop = 2

## Set amount of seed each Flax plant drops
# Setting type: Int32
# Default value: 2
Flax Drop = 2

## Set amount of seed each Barley plant drops
# Setting type: Int32
# Default value: 2
Barley Drop = 2

[Mod Control]

## Enable this mod (Requires game restart to re-enable)
# Setting type: Boolean
# Default value: true
Mod Enabled = true

## Enable Grow Rate Change
# Setting type: Boolean
# Default value: true
Grow Rate Change Enabled = true

## Enable Drop Rate Change
# Setting type: Boolean
# Default value: true
Drop Rate Change Enabled = true

## Enable Hover Text
# Setting type: Boolean
# Default value: false
Hover Text Enabled = false

## Nexus mod ID for updates (DO NOT MOIDFY THIS VALUE)
# Setting type: Int32
# Default value: 943
NexusID = 943

